<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h5 class="card-label" style="float:left;">
				Xác nhận xóa thông tin
			</h5>
			<button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
					(click)="activeModal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div style="margin: 45px 5px 45px 5px;;text-align: center;">
		<span>
			Bạn có chắc chắn muốn xóa loại vật nuôi này
		</span>
	</div>
	<div class="card-footer justify-content-between text-right">
		<button type="button" (click)="save()"
				class="btn btn-danger btn-shadow mr-2">Đồng ý
		</button>
		<button type="button" (click)="closed()"
				class="btn btn-danger btn-shadow mr-2">Đóng
		</button>
	</div>
</div>
